// Custom Media Query Variables

$breakpoint-not-small: 'screen and (min-width: 30em)' !default;
$breakpoint-medium: 'screen and (min-width: 30em) and (max-width: 60em)' !default;
$breakpoint-large: 'screen and (min-width: 60em)' !default;
$breakpoint-tablet: 'screen and (min-width: 480px) and (max-width: 767px)' !default;
$breakpoint-mobile: 'screen and (max-width: 479px)' !default;